.Rproj.user
.Rhistory
.Ruserdata
.Rdata
data/2018/raw/
Rdata/2019/
Rdata/2022/fit_compare/
Rdata/2022/fit_retro/
Rdata/2022/input/
Rdata/2022/proj/
Rdata/2022/retro/
Rdata/2022/TEP/
Rdata/2022/Tmin/
img/2022/fit/M0.2
img/2022/fit/M0.45-0.21
img/2022/fit/M0.51
img/2022/fit/M0.91-44
img/2022/fit/nocaa
img/2022/fit/TEP_minyears
img/2022/fit_compare/
